/* body font family */
body{
    /* font-family: 'Crimson Pro'; */
    font-family: 'Crimson Pro', serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: rgb(233, 232, 232);
}


/* navbar backgroud and top border color */
nav{
    background-color: rgb(233, 232, 232);
    /* border-top: 3px solid rgb(233, 244, 248); */
}


/* small nav toggler menu */
.sm-btn-menu{
    background-color: teal;
}

.toggle{
    display: none;
}

/* navbar links decoration */
.index-link, .about-link, .projects-link, .contact-link, .brandimg-link{
    cursor: pointer;
    color: teal;
    text-transform: uppercase;
    text-decoration: none;
    margin-inline-end: 20px;
}

/* navbar links hover */
.index-link:hover, .about-link:hover, .projects-link:hover, .contact-link:hover {
    color: rgb(255, 87, 51);
    transition: 0.3s ease-in-out;
}

.main-div{
    margin: 0 20px 0 20px;
    /* padding-top: 20px; */
    border-top-left-radius: 10em;
    border-bottom-right-radius: 10em;
    background-color: white;
}

.showcase-img-sm{
    /* background-image: url(../images/IMG_0552.JPG); */
    background-image: linear-gradient(120deg, #ebedee 0%, #fdfbfb 70%);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 80%;
    margin: 10px 0px 10px 0px;
    display: grid;
    place-items: center;
}

.showcase-img-md{
    background-image: url(../images/IMG_0552.JPG);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 80%;
    border-top-left-radius: 10em;
    margin: 90px 0px 35px 0px;
    display: grid;
    place-items: center;
}


/* showcase image card */
.showcase-card{
    padding: 20px 15px 15px 15px;
}


/* showcase card image */
.showcase-card-pic{
    position: relative;
    width: 200px;
    border: 5px solid gray;
    border-radius: 100%;
}


/* showcase card text */
.showcase-text{
    text-align: left;
}

/* showcase card contacts */
.showcase-contact{
    font-size: 45px;
    /* color: white; */
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
}

/* headers */
.header{
    font-family: 'Fuggles', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Style Script', cursive;
    color: teal;
    font-size: 40px;
    font-weight: lighter;
}

/* skills div*/
.skills-div{
    margin-top: 10px;
}

/* projects div*/
.projects-div{
    margin-top: 10px;
}

/* medium to large screen skills image */
.skills-md-image{
    background-image: url(../images/skills.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;
    padding-top: 0;
}

/* skills success bars */
.success-bar{
    /* background-color: teal; */
    opacity: 80%;
    height: 15px;
}

.js-progress{
    width: 25%;
}

.git-progress{
    width: 20%;
}

.php-progress{
    width: 40%;
}

.boots-progress{
    width: 70%;
}

.css-progress{
    width: 80%;
}

.html-progress{
    width: 90%;
}


/* projects names */
.project-name-bg{
    background-color: rgb(233, 232, 232);
    /* width: fit-content; */
    padding: 10px 30px;
    margin: 0;
    border: 1px solid teal;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}   

/* projects images */
.projects-img{
    width: 100%;
    /* height: 20vh; */
    border-left: 1px solid teal;
    border-right: 1px solid teal;
    cursor: pointer;
}

/* projects left button */
.projects-left-btn{
    background-color: teal;
    color: white;
    text-decoration: none;
    border-bottom-left-radius: 1.5em;
}

/* projects left button */
.projects-left-btn:hover{
    color: white;
}

/* projects right button */
.projects-right-btn{
    color: teal;
    text-decoration: none;
    border: 1px solid teal;
    border-bottom-right-radius: 1.5em;
}

/* projects button */
.projects-button-border{
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    text-align: center;
}

.testimonies-div{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    /* scroll-padding: 5px; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.testimonies-div::-webkit-scrollbar{
    display: none;
}

.testimonies-content{
    width: 100%;
}

.testimonies-item-sm{
    /* height: 20vh; */
    width: 85%;
    height: 35vh;
    background-color: #ebedee;
    display: inline-block;
}

.testimonies-item-md{
    /* height: 20vh; */
    width: 40%;
    height: 20vh;
    background-color: #ebedee;
    display: inline-block;
}

/* list */
.list-item{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    /* color: teal; */
}

/* connect-container */
.connect-container{
    width: 75%;
}

/* connect font awesome */
.connect-contact{
    font-size: 40px;
    color: gray;
    margin-top: 40px;
    padding: 0px 50px 0px 0px;
}

.return-top{
    margin-right: 15px;
}

/* production in progress image */
.progress-production{
    margin-top: 20px;
    width: 50%;
    /* align-items: center; */
}

/* production in progress btn */
.progress-production-btn{
    background-color: teal;
    color: white;
    margin-bottom: 40px;
}